.main-panel
{
	background: #fff;
	line-height: 1;
	width: 100%;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
}

.main-menu
{
	font-weight: 300;
}

.main-menu-link-list
{
	display: flex;
}

.main-menu-link
{
	padding: .5rem 1rem;
	display: block;

	&:hover
	{
		text-decoration: underline;
	}
}