@import 'reset';
@import 'utils';

$color-turq-1: #00B1AA;
$color-pink-1: #F09FAE;

html
{
	font-family: Raleway, sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

@import 'main-panel';

.block-area
{
	color: #fff;
	padding: 1rem 0;
}

.block-heading-container
{
	// background: rgba(0, 0, 0, .2);
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	// padding: 1rem 0;
}

.block-content-container
{
	// padding: 1rem 0;
	margin-top: 2rem;
}

//

.about-area
{
	background: $color-turq-1;
	padding-top: 2rem;
}

.projects-area
{
	background: $color-pink-1;
	padding-bottom: 2rem;
}

.contact-area
{
	background: $color-turq-1;
	text-align: center;
	padding-bottom: 5rem;
}

//

.about-container
{
	// display: flex;
	// flex-direction: column;
	// justify-content: center;

}

.about-container-item
{
	// flex-grow: 0;
	display: flex;
	justify-content: center;
	// margin: 0 auto;
}

.about-container-item:not(:first-child)
{
	// margin-top: 2rem;
}

//

.photo-container
{

}

.photo
{
	background: #fff;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

//

.introduction-container
{
	margin-top: 2rem;
}

//

.social-icons-container
{

}

.social-icon-list
{
	display: flex;
}

.social-icon-item
{

}

.social-icon-link
{

}

.social-icon
{
	color: rgba(255, 255, 255, .9);
	font-size: 5rem;
	margin: 1rem;
}

.social-icon:hover
{
	color: #fff;
}

//

.project-list
{

}

.project-list-item
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.project-container
{

}

//

.contact-email
{
	font-weight: bold;
}

.contact-content
{

}

@import 'project-card';