@import 'reset';
@import 'utils';

// $color-turq-1: #00B1AA;
$color-blue-1: hsl(240, 50%, 50%);
$color-green-1: hsl(120, 50%, 50%);
$color-turq-1: hsl(180, 50%, 50%);
// $color-pink-1: #F09FAE;
$color-pink-1: hsl(300, 50%, 50%);
$color-grey-1: hsl(0, 0%, 50%);

html
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

@import 'main-panel';

.block-area
{
	color: #fff;
	padding: 2rem 0;
}

.block-heading-container
{
	// background: rgba(0, 0, 0, .2);
	font-family: Raleway, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	// padding: 1rem 0;
}

.block-content-container
{
	// padding: 1rem 0;
	margin-top: 2rem;
}

//

.about-area
{
	// background: $color-turq-1;
	// background-image: linear-gradient(to bottom right , hsl(0, 100%, 50%), hsl(240, 50%, 50%));
	background-image: linear-gradient(to bottom right , hsl(180, 100%, 50%), hsl(240, 25%, 50%));
	// background-image: linear-gradient(to bottom right, yellowgreen, dodgerblue);
	padding-top: 4rem;
}

.projects-area
{
	// background: $color-grey-1;
	background: #fff;
	color: $color-grey-1;
	padding-bottom: 2rem;
}

//

.about-container
{
	// display: flex;
	// flex-direction: column;
	// justify-content: center;

}

.about-container-item
{
	// flex-grow: 0;
	display: flex;
	justify-content: center;
	// margin: 0 auto;
}

.about-container-item:not(:first-child)
{
	// margin-top: 2rem;
}

//

.photo-container
{

}

.photo
{
	width: 15rem;
	height: 15rem;
}

//

.introduction-container
{
	font-size: 2rem;
	margin: 3rem 0 1rem;
}

//

.social-icons-container
{

}

.social-icon-list
{
	display: flex;
	flex-wrap: wrap;
}

.social-icon-item
{

}

.social-icon-link
{

}

.social-icon
{
	// transition: color .4s;
	color: rgba(255, 255, 255, .9);
	font-size: 5rem;
	margin: 1rem;
}

.social-icon:hover
{
	color: #fff;
}

//

.project-list
{

}

.project-list-item
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.project-container
{

}

@import 'project-card';