@import 'reset';

// @keyframes pulsing-bg {
//   0%, 100% {
//     background-color: #3498db;
//   }

//   12% {
//     background-color: #2ecc71;
//   }

//   25% {
//     background-color: #1abc9c;
//   }

//   37% {
//     background-color: #9b59b6;
//   }

//   50% {
//     background-color: #34495e;
//   }

//   62% {
//     background-color: #e67e22;
//   }

//   75% {
//     background-color: #e74c3c;
//   }

//   87% {
//     background-color: #7f8c8d;
//   }
// }

html {
  font-family: 'Open Sans', sans-serif;
}

.Header {
  // background: linear-gradient(#3498db, #2980b9);
  // background-clip: padding-box;
  // animation: pulsing-bg 60s infinite
  // border-bottom: 1em dashed #2980b9;
  padding-top: 3em;
  display: flex;
  justify-content: center;

  .Header_logoWrapper {
    background: linear-gradient(#3498db, #2980b9);
    padding: 5em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .Header_logo {
    max-width: 100%;
    max-height: 21em;
    border-radius: 50%;
  }

  // .Header_squaresContainer {
  //   // background-color: khaki;
  //   padding-bottom: .5em;
  //   position: relative;
  //   top: 1em;
  //   overflow: hidden;
  // }

  // .Header_squaresList {
  //   display: flex;
  //   justify-content: center;
  // }

  // .Header_square {
  //   $size: 1.5em;

  //   background-color: #2980b9;
  //   // background-color: red;
  //   width: $size;
  //   height: $size;
  //   transform: rotate(45deg);
  // }
}

.Offer {
  padding: 5em 3em 4em;

  .Offer_content {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
  }

  .Offer_mainHeading {
    color: rgba(#000, .75);
    font-size: 3em;
    font-weight: 300;
    // text-transform: uppercase;
  }

  .Offer_subHeading {
    color: rgba(#000, .6);
    font-size: 2em;
    font-weight: 300;
    // text-transform: uppercase;
    margin-top: .5em;
  }

  .Offer_offerList {
    color: rgba(#000, .7);
    font-size: 1.5em;
    margin-top: 3em;

    > * + * {
      margin-top: 1.25em;
    }
  }

  .Offer_offerBlock {

  }

  .Offer_offerBlockContent {
    display: flex;
    justify-content: center;
    align-items: center;

    > * + * {
      margin-left: .5em;
    }
  }

  .Offer_offerBlockIconWrapper {
    font-size: 1.25em;
  }

  .Offer_offerBlockDescWrapper {
    color: rgba(#000, .5);
    font-size: .75em;
    margin-top: .5em;
  }
}

// .Feats {
//   margin-top: 2em;

//   .Feats_content {
//     max-width: 720px;
//     margin: 0 auto;
//   }
// }

.Feats {
  $bg: #eee;

  background-color: $bg;
  background: radial-gradient(circle, $bg, transparent);
  padding: 4em 3em 3em;
  position: relative;

  $size: 2em;

  &:before,
  &:after {
    content: '';
    width: $size;
    height: $size;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - #{$size / 2});
  }

  &:before {
    background-color: #fff;
    top: -$size / 2;
  }

  &:after {
    background-color: $bg;
    bottom: -$size / 2;
  }

  .Feats_content {
    max-width: 1280px;
    margin: 0 auto;
  }

  .Feats_featsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    $distance: 1em;

    margin-left: -$distance;
    margin-top: -$distance;

    > * {
      margin-left: $distance;
      margin-top: $distance;
    }
  }

  .Feats_featBlock {
    text-align: center;
    max-width: 15em;
  }

  .Feats_featBlockIconWrapper {
    color: rgba(#000, .75);
    font-size: 2em;
  }

  .Feats_featBlockNameWrapper {
    color: rgba(#000, .75);
    font-weight: 600;
    line-height: 1.2;
    min-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .Feats_featBlockDescWrapper {
    color: rgba(#000, .6);
    font-size: .9em;
    line-height: 1.3;
    margin-top: .5em;
  }
}

.Portfolio {
  .Portfolio_content {
    // max-width: 1280px;
    margin: 0 auto;
  }

  .Portfolio_heading {
    color: rgba(#000, .7);
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    padding: 3em 1em 1em;
    border-bottom: 1px dashed #ddd;
  }

  .Portfolio_projectsList {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    $distance: 2em;

    margin-left: -$distance;
    margin-top: -$distance;

    > * {
      margin-left: $distance;
      margin-top: $distance;
    }

    .Portfolio_projectBlock {
      max-width: 35em;
    }
  }

  .Portfolio_projectBlock {
    @media (min-width: 640px) {
      display: flex;
      align-items: center;

      > * + * {
        margin-left: 1em;
      }
    }

    img {
      // max-width: 13em;
      max-width: 100%;
      max-height: 10em;
    }

    &:hover {
      .Portfolio_projectBlockUrl {
        text-decoration: underline;
      }
    }
  }

  .Portfolio_projectBlockNameWrapper {
    color: rgba(#000, .6);
    font-weight: 600;
    // text-transform: uppercase;

    @media (max-width: 639px) {
      margin-top: 1em;
    }
  }

  .Portfolio_projectBlockDescWrapper {
    color: rgba(#000, .6);
    font-size: .9em;
    line-height: 1.2;
    margin-top: .5em;
  }

  .Portfolio_projectBlockUrlWrapper {
    color: rgba(#000, .4);
    font-size: .8em;
    margin-top: 1.5em;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .Portfolio_projectBlockUrl {

  }
}

.Contact {
  $bg: #999;

  background-color: $bg;
  background: linear-gradient($bg, #777);
  margin-top: 4em;

  .Contact_squaresContainer {
    overflow: hidden;
  }

  .Contact_squaresList {
    display: flex;
    justify-content: center;
  }

  .Contact_square {
    $size: .75em;

    background-color: $bg;
    width: 0;
    height: 0;
    border-left: $size solid #fff;
    border-right: $size solid #fff;
    border-bottom: $size solid $bg;
  }

  .Contact_content {
    padding: 3em 2em 5em;
    max-width: 960px;
    margin: 0 auto;
  }

  .Contact_heading {
    color: rgba(#fff, .6);
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .Contact_contactsList {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    $distance-v: 2em;
    $distance-h: 1em;

    margin-left: -$distance-v;
    margin-top: -$distance-h;

    > * {
      margin-left: $distance-v;
      margin-top: $distance-h;
    }
  }

  .Contact_contactBlock {
    display: flex;
    align-items: center;
    max-width: 23em;

    > * + * {
      margin-left: 1em;
    }
  }

  .Contact_iconWrapper {
    color: rgba(#fff, .6);
    font-size: 5em;
  }

  .Contact_text {
    color: rgba(#fff, .75);
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.2;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .Contact_emailText {
    font-weight: 400;
  }
}